/* start uthein */
/* end uthein */


/* start htain */
/* end htain */

/* start ohmar  */
/* end ohmar */

/* start nyi */
.nyi-rounder{
    width: 34%;
    height: 114px;
}
.nyi-numbers{
    padding-left: 108px;
    
}
.nyi-rounder-2{
    width: 126px;
    height: 122px;

}
.nyi-number-2{
    padding-left: 200px;
}
/* end nyi */




